* {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    margin: 25px;
    color: #14d0e1;
    font-family: "Sofia Sans condensed", sans-serif;
}

h2 {
    font-family: "Sofia Sans condensed", sans-serif;
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 30px;
}

p, li {
    text-align: justify;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 20px;
}

a { 
    text-decoration: none;
    cursor: pointer;
}

.options > li {
    list-style: none;
}

.options {
    margin: 0;
    padding: 0;
}

.left-index {
    direction:ltr;
    overflow: auto;
    width: 250px;
    height: 100vh;
    background-color: #021526;
    margin: 0;
    border-right: 2px solid;
    position: fixed;
    left: 0;
    top: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main {
    position: absolute;
    left: 275px;
}

.nav-option {
    display: block;
    padding: 12px;
    text-align: center;
    border-top: 1px solid #03346E;
    color: #6EACDA;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.console {
    background-color: rgb(209, 209, 209);
    padding: 8px;
    border-radius: 5px;
    width: 60%;
}

.code {
    font-family: monospace, serif;
}

.reference-mdn {
    text-decoration: underline;
    color: #03346E;
}

.reference-mdn:hover {
    color: #2d76ce;
}

.reference-mdn:active {
    color: #2f4764;
}

.reference-mdn:visited {
    color: #14d0e1;;
}

.main-content {
    border: 1px solid;
    border-radius: 50px;
    padding: 20px;
}

.options li a {
    display: block;
    padding: 10px;
    opacity: 0.75;
    position: relative;
}

.options li a:hover {
    color: white;
    opacity: 1;
}

.options li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color:#14d0e1;
    transition: all .5s;
}

.options li a:hover::before {
    width: 100%;
}

.social-medias-images {
    width: 50px;
    height: 50px;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 90px;
    border-top: 1px solid #14d0e1;
}

.credits > p {
    color: antiquewhite;
    text-align: center;
    margin: 10px 0 0 0;
}

.credits a {
    color: white;
}

.credits a:hover {
    color: #14d0e1;
}

.credits a:active {
    color: #298b93;
}

@media(max-width: 1080px) {
    .code {
        font-size: 14px;
    }
}
